[submodule "forum-sevice/forum-protos"]
	path = forum-sevice/forum-protos
	url = git@github.com:Azizbek-Qodirov/forum-protos.git
[submodule "api-gateway/forum-protos"]
	path = api-gateway/forum-protos
	url = git@github.com:Azizbek-Qodirov/forum-protos.git
